<%= form_for([@project, floorplan]) do |f| %>
  <% if floorplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(floorplan.errors.count, "error") %> prohibited this floorplan from being saved:</h2>

      <ul>
      <% floorplan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, multiple: true, name: "floorplan[image]" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>